<div class="row">
  <div class="m-2">
    <div class="d-flex justify-content-center align-items-center my-3">
      <a href="/products" class="button-ef">
        <span title="Continuar comprando">Continuar comprando</span>
      </a>
    </div>
  </div>
</div>

<section>
  <div class="product-container">
    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-container" data-ride="carousel">
      <div class="carousel-inner">
        {{#each product.thumbnail}}
          <div class="carousel-item active">
            <img
              class="d-block w-75"
              src="../../img/{{thumbnail}}"
              alt="Product slide"
            />
          </div>
        {{/each}}
      </div>
    </div>

    <div class="product-info">
      <h2>{{product.title}}</h2>
      <div class="price-box">
        <span class="pricebox-price">$ {{product.price}}</span>
      </div>
      <hr>
      <p class="descripcion">{{product.description}}</p>
      <br>
      <p>ID de producto: {{product._id}}</p>
      <p>Stock disponible: {{product.stock}}</p>
      <p>Categoría: {{product.category}}</p>
      <p>Código: {{product.code}}</p>
      <hr>
      <div class="text-center zoomy">
        <button class="btn btn-effect btn-dark btn-jif bg-black btn-detalles mt-2 mx-4" id="addToCartBtn" data-product-id="{{product._id}}">Agregar al carrito</button>
      </div>
    </div>
  </div>
</section>

<!-- Scripts necesarios -->
<script src="/socket.io/socket.io.js"></script>
<script src="https://kit.fontawesome.com/4e9044019f.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  const socket = io(); 
  document.addEventListener("DOMContentLoaded", function() { 
    const addToCartButton = document.getElementById('addToCartBtn'); 
    const productId = addToCartButton.dataset.productId; 
    
    addToCartButton.addEventListener('click', async function(event) { 
      event.preventDefault(); 
      try { 
        socket.emit("addToCart", productId); 
        console.log("ID del producto agregado", productId) 
        
      socket.on("cartId", (cartId) => { 
        console.log("ID del carrito nuevo", cartId);
        Swal.fire({
          icon: 'success',
          title: '¡Producto agregado al carrito!',
          text: `ID del carrito: ${cartId}`,
          showCancelButton: true,
          confirmButtonText: 'Ir al carrito',
          cancelButtonText: 'Seguir comprando',
          allowOutsideClick: false,
          allowEscapeKey: false,
        }).then((result) => {
          if (result.isConfirmed) {
            window.location.href = `/cart/${cartId}`;
          }
        });
      }); 
    } 

      catch (error) { 
        console.error("Error al agregar producto al carrito:", error); 
        Swal.fire({
          icon: 'error',
          title: '¡Error!',
          text: 'Ocurrió un error al agregar el producto al carrito',
        });
      } 
    }); 
  });
</script>