
<div class="mx-auto px-4">
  <div class="mx-auto my-2 text-center border-2 text-uppercase">
    <h1>Tienda</h1>
  </div>
  <div class="containerProducts">
    <div class="sidebar">
      <div class="logo text-center">JIF Style Store</div>
      <form action="/products" method="GET">
        <input type="text" id="txtSearch" name="title" placeholder="Buscar producto..." />
      </form>

      <h3>Categoría</h3>
      <ul class="category-list text-capitalize">
        <li><a href="/products">Todos</a></li>
        {{#each categories}}
          <li><a href="/products?category={{this}}">{{this}}</a></li>
        {{/each}}
      </ul>
    </div>


    <div class="row centrar no-selection">
      <div class="d-flex justify-content-end mb-3">
        <select id="sortSelect" class="form-select anchoAuto">
          <option selected disabled>Ordenar</option>
          <option value="asc">Precio: Menor a Mayor</option>
          <option value="desc">Precio: Mayor a Menor</option>
        </select>
      </div>
      {{#if payload}}
      {{#each payload}}
      <article class="col-6 col-xl-3 col-lg-4">
        <div class="tarjeta thumb-wrapper">
          <figure>
            <div class="image-container">
              {{#if thumbnail}}
              <img class="card-img" src="./img/{{thumbnail}}" alt="{{title}}"/>
              {{else}}
              <img class="card-img" src="img/noThumbnail.jpg" alt="{{title}}" />
              {{/if}}
              <div class="mask"></div>
              <figcaption>
                <a href="/products/item/{{_id}}" class="btn btn-effect btn-dark btn-jif bg-black btn-detalles">Ver Detalles</a>
              </figcaption>
            </div>
          </figure>
          <p>{{title}}</p>
          <p>${{price}}</p>
        </div>
      </article>
      {{/each}}
      {{else}}
      <h1 class="text-center md:mt-12 text-lg">No hay productos</h1>
      {{/if}}
    </div>
  </div>

  <div style="position:relative" class="container d-flex justify-content-center align-items-center gap-4 p-4">
    {{#if hasPrevPage}}
    <a style="position:relative" class="btn button-black prev px-5" href="{{prevLink}}">
      <div class="arrow"><span></span><span></span></div>Atrás
    </a>
    {{/if}}
    {{#if hasNextPage}}
    <a class="btn button-black next px-5" href="{{nextLink}}">Siguiente</a>
    {{/if}}
    <h3>Página: {{page}}/{{totalPages}}</h3>
  </div>
</div>
</div>


<!-- Scripts necesarios -->
<script src="https://kit.fontawesome.com/4e9044019f.js" crossorigin="anonymous"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  initializePage();
  initializeSortSelect();
});

function initializePage() {
  initializeActiveCategory();
}

function initializeActiveCategory() {
  const currentCategory = new URLSearchParams(window.location.search).get('category');
  const currentCategoryLink = document.getElementById(`category_${currentCategory}`);
  if (currentCategoryLink) {
    currentCategoryLink.classList.add('active');
  } else {
    const allCategoryLink = document.getElementById('allCategory');
    if (allCategoryLink) {
      allCategoryLink.classList.add('active');
    }
  }
}

function initializeSortSelect() {
  const sortSelect = document.getElementById('sortSelect');
  if (sortSelect) {
    sortSelect.addEventListener('change', function(event) {
      const selectedOption = event.target.value;
      const currentUrl = new URL(window.location.href);
      currentUrl.searchParams.set('sort', selectedOption);
      window.location.href = currentUrl.toString();
    });
  }
}

</script>
